/* medias for desktop */
@media only screen and (min-width: 800px) {
    .bottom_card.full {
        max-width: 440px;
    }
    .content_card {
        justify-content: space-between !important;
    }
    .bottom_card.full {
        max-height: 100%;
    }
    .max-h{
        height: 100%;
        overflow-y: scroll;
    }
    .max-h{
        max-height: 100%;
        overflow-y: scroll;
        padding-top: 2em;
        padding-bottom: 4em;
    }
    /* width */
    .max-h::-webkit-scrollbar {
        width: 8px;
    }
    
    /* Track */
    .max-h::-webkit-scrollbar-thumb {
        background: #f75e2a;
        border-radius: 4px;
    }
    
    /* Handle */
    .max-h::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px #2222221f;
        border-radius: 4px;
    }
    .card{
        position: relative;
        background: linear-gradient(184deg, var(--degree_main), var(--degree_secondary) 80%);
        max-height: 80vh;
        max-width: 85vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        box-shadow: 0px 10px 15px -3px rgb(0 0 0 / 10%);
    }
    .image_main{
        margin-top: 0%;
    }
    .card{
        max-width: 1000px;
    }
    .content_card{
        height: auto;
    }
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
    .content_card{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .image_main{
        width: 50%;
        display: flex;
        justify-content: center;
    }
    .bottom_card{
        width: 50%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .bottom_card{
        position: relative;
    }
    .comment_msg{
        position: absolute;
        left: 10%;
        top: 20%;
        animation-name: float_desk;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    .profile{
        position: absolute;
        left: 30%;
        top: 15%;
        animation-name: float_desk2;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    .hearth{
        position: absolute;
        left: 30%;
        top: 75%;
        animation-name: float_desk3;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    .hearth_msg{
        left: 8%;
        top: 70%;
        animation-name: float_desk4;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }
    body{
        background-color: #b2f0ff;
    }
    @keyframes float_desk {
        0%   {
            transform: rotate(5deg);
            top: 20%;
            }
        50%  {
            transform: rotate(15deg);
            top: 25%;
        }
        100%  {
            transform: rotate(5deg);
            top: 20%;
        }
    }
    @keyframes float_desk2 {
        0%   {
            transform: rotate(5deg);
            top: 15%;
            }
        50%  {
            transform: rotate(15deg);
            top: 20%;
        }
        100%  {
            transform: rotate(5deg);
            top: 15%;
        }
    }
    @keyframes float_desk3 {
        0%   {
            transform: rotate(5deg);
            top: 75%;
            }
        50%  {
            transform: rotate(15deg);
            top: 80%;
        }
        100%  {
            transform: rotate(5deg);
            top: 75%;
        }
    }
    @keyframes float_desk4 {
        0%   {
            transform: rotate(5deg);
            top: 70%;
            }
        50%  {
            transform: rotate(15deg);
            top: 75%;
        }
        100%  {
            transform: rotate(5deg);
            top: 70%;
        }
    }
    .figure_1 {
        left: -5%;
        top: -14%;
    }
    .figure_2 {
        left: -5%;
        bottom: -31%;
    }
}
@media only screen and (max-heigth: 400px) {
    .text_card,.choose_payment{
        display: none;
    }
}